@inherits LayoutComponentBase

<div class="page">
    <header>
        <div class="brand">
            <div class="brand-logo"></div>
            <span>Modular House</span>
        </div>
        
        <div class="search">
            <input type="text" placeholder="Search anything" />
        </div>
        
        <div class="navigation">
            <img class="notification" src="icons/bell-fill.svg" alt="notifications">
            <div class="profile"></div>
        </div>
    </header>

    <main>
        @Body
    </main>
</div>
